<style>
    .button{
        background-color: gainsboro;
        width: 2vmax;
        border-radius: 0;
        background-color: gainsboro;
    }
    .post {
        border-radius: 0;

        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size:x-large;
        text-decoration: none;
        background: white;
        width: 95%;
        margin-left: 1vmax;
        margin-right: 0vmax;
        /*height: 30vmax;*/
        padding: 1vmax;
        position: relative;
        overflow: hidden;
        /*margin-bottom: 3vmax;*/
    }

</style>
<div>
<p class="post">{{the_post.title}} <a href="{{the_post.url}}">{{the_post.url}}</a> </p>
<!--<p>Last Comment: {{last_comment}} {{last_name}}</p>-->

{{#each the_post.comment}}

    <p class="post">{{this.text}} {{this.user}}</p>

{{/each}}

</div>

<div>
    <form action="/comment" method="POST" >

        <textarea type="text" id="url" name="comment" placeholder=" Comment "></textarea>
        <!--<label for="title">Name</label>-->
        <!--<input type="text" id="name" name="name" placeholder=" Name">-->


        <!--<label for="fname">foooooodz</label>-->
        <input type="checkbox" name = "vote" value="Upvote">I think that's helpful</br>

        <input class="button" type="submit" value="Post">

        <input type="hidden" name="hidden" value={{the_post.slug}}>

    </form>
</div>

