<link rel="stylesheet" type="text/css" href="../css/style1.css" />
<link rel="shortcut icon" type="image/x-icon" href="../img/wastespace.png" />

<style>

    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .navbar{
        background-color: #1295B8;
    ;
    }

    html, body {
        font-weight: 100;
    }
    body {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;

        /*background: #bde2f6;*/
    }
    h1{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        color:rebeccapurple;
    }
    #title{
        margin-top: 2vmax;
        color:black;
        font-size: x-large;
        font-weight: 200;
    }
    .post{
        margin-left: 2vmax;
        margin-right: 2vmax;
        margin-bottom: 1.5vmax;
        color: grey;
        font-size: large;
    }
    .grid_post{
        margin: 2vmax;
        width: 95%;
        border: 1px solid #1295B8;
        font-size: medium;
        font-weight: 100;
    }
    .grid_post:hover{
        cursor: cell;
        border: 1px solid #1295B8;
        font-size: medium;
        font-weight: 100;
    }
    #grdpost:hover{
        border: none;
    }
    #helpful{
        margin-left: 2vmax;

    }
    #submit{
        margin-left: 2vmax;

        margin-top: 1vmax;
        background-color: white;
        border: 1px solid gainsboro;

    }
    .time{
        margin-left: 2vmax;
        font-style: italic;
        font-size: small;
    }
    #submit:hover{
        border: 1px solid #;
    }
    .txa{
        font-weight: 100;
        font-size: large;
    }
    .grid__item {

    }

    .grid_post::before {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border: 1px solid rgba(74, 74, 74, 0.075);
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    .category1{

        margin-bottom: 0.5vmax;
    }
</style>
<div>

<p class="post" id="title">{{the_post.title}} <a href="{{the_post.url}}">{{the_post.url}}</a> </p>
<!--<p>Last Comment: {{last_comment}} {{last_name}}</p>-->

{{#each the_post.comment}}
    <span class="time">On {{this.time}}:</span>
    <p class="post">{{this.text}} {{this.user}}</p>

{{/each}}

</div>

<div>
    <form action="/comment" method="POST" >

        <textarea type="text" class="grid_post" id="url" name="comment" placeholder=" Comment "></textarea>
        <!--<label for="title">Name</label>-->
        <!--<input type="text" id="name" name="name" placeholder=" Name">-->


        <!--<label for="fname">foooooodz</label>-->
        <br>
        <input id="helpful" type="checkbox" name = "vote" value="Upvote"><span> I think that's helpful</span>
        </br>

        <input class="button" type="submit" id="submit" value="Post">

        <input type="hidden" name="hidden" value={{the_post.slug}}>

    </form>
</div>

