
<h1>假贴吧</h1>



{{#each new_post}}
        <div class="post">
    <p><a href="http://localhost:8888/{{this.slug}}"> {{this.title}}</a></p>
    <!--<a href="http://localhost:8888/{{this.slug}}"> <button>Reply</button> </a>-->
    <button > Hottness: {{this.vote}}</button>
</div>
{{/each}}

<div>
    <form action="/post" method="POST" >
        <!--<label for="url">URL</label>-->
        <!--<input type="text" id="url" name="url" placeholder=" Url ">-->
        <label for="title"></label>
        <textarea type="text" id="title" name="title" placeholder="Say Something"></textarea>

        <!--<label for="fname">foooooodz</label>-->

        <button type="submit" value="Poo">Poo</button>
    </form>
</div>

<script>
    console.log("in hbs", {{this.vote}});
    this.vote = this.vote+1;
    console.log("in hbs again", {{this.vote}});
</script>